.bubble2 {
  background-color: #fea82f;
  height: fit-content;
  width: fit-content;
  margin: 5px;
  box-shadow: -23px 15px 0px 7px rgba(0, 0, 0, 1);
  margin-left: 10px;
}

.msg2 {
  color: #ffffff;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}

.timeNew {
  color: #ffffff;
  position: relative;
  float: left;
  margin: 3px;
}
