.bubble {
  background-color: #ff710a;
  height: fit-content;
  width: fit-content;
  margin: 5px;

  position: relative;

  float: right;
  margin-bottom: 25px;
  margin-right: 10px;
  box-shadow: 23px 15px 0px 7px rgba(0, 0, 0, 1);
}

.msg {
  color: #ffffff;
  padding: 5px;
  margin: 10px;
  font-weight: bold;
  font-size: 1.25rem;
}

.time {
  color: #ffffff;
  position: relative;
  float: right;
  margin: 3px;
}
